@import "tailwindcss";

@theme {
  --color-dark-green: #06150e;
  --color-light-green: #839958;
  --color-beige: #f6f4d5;
  --color-rosy-brown: #d3968c;
  --color-midnight-green: #105666;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-jost), system-ui, -apple-system, sans-serif;
  color: var(--color-beige);
}
